 <header>
      <div class="header-wrapper">
        <div class="header">
          <div class="main-menu">
            <div class="main-links">
              <nav>
                <ul>
                  <li>Home</li>
                  <li>About</li>
                  <li>Read Letters</li>
                  <li>Write Letter</li>
                </ul>
              </nav>
            </div>
          </div>
          <img src="" alt="logo" class="header-logo" />
          <div class="header-utility-links">
            <div class="search">
              <button class="search-btn">
                <img src="image/search.png" alt="search" />
              </button>
            </div>
            <div class="account">
              <button class="account-btn">
                <img src="image/account.png" alt="account" />
              </button>
            </div>
            <div class="dashboard">
              <button class="dash-btn">
                <img src="image/dashboard.png" alt="dashboard" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>