/* mobile*/
@media (min-width: 600px) {
  #lettersList li {
    padding: 20px 25px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  #lettersList li {
    padding: 20px 30px;
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  color: #392423;
}

/* HEADER NAV BAR */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db7c84;
  height: 75px;
  padding: 0 60px;
}

.main-links ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.header-utility-links button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
  border: 0px;
  cursor: pointer;
}

.header-utility-links {
  display: flex;
  gap: 20px;
}

/* LINK BUTTONS */

.search-btn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.account-btn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.dash-btn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* MAIN CONTAINER */

.homepage-container {
  align-content: center;
  background-color: #ede3ca;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  height: 100vh;
}

.hero-section {
  max-height: 200px;
  display: inline-block;
  background-color: #f2e0d2;
  padding: 80px 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

.hero-section img {
  max-width: 100px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: #f2afbc;
  border: 0.5px solid black;
}
/* WRITE PAGE */
.container-2 {
  align-content: center;
  background-color: antiquewhite;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  height: 100vh;
}

.hero-2 {
  max-height: 200px;
  display: inline-block;
  padding: 80px 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 30px;
  border-radius: 10px;
}

#letterForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

#letterForm input,
#letterForm textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.btn-2 {
  border: 2px solid black;
  padding: 10px;
  width: auto;
  align-self: center;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #f2afbc;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.8rem;
  display: block;
  margin-top: 4px;
}

.signup-form {
  max-width: 500px;
}

.form-form h2 {
  font-family: Arial, Helvetica, sans-serif;
}

/* FOOTER STYLE */

.footer-container {
  background-color: #f2cfd1;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

li,
li a {
  list-style-type: none;
  text-decoration: none;
}

ul a {
  gap: 20px;
}

.nav-footer {
  margin-top: 45px;
}

.nav-footer h4 {
  padding-bottom: 20px;
}

.nav-footer ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.sub-btn {
  background-color: #db7c84;
  border-radius: 20px;
  border-style: none;
  border-width: 2px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
  pointer-events: auto;
  height: 40px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

input[type="email"] {
  text-align: center; /* centers placeholder and typed text */
}

.form-form h2 {
  letter-spacing: 0.03em;
  line-height: 130%;
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #2d2a38;
}

.footer-container {
  padding-bottom: 40px;
}

.footer-policy ul {
  display: flex;
  gap: 50px;
  align-items: flex-end;
  cursor: pointer;
}

.signup-note {
  font-size: 12px;
  font-style: italic;
}

/* LIST DISPLAY */

#lettersList {
  padding: 0;
  margin: 20px 0;
  max-width: 600px;
}

#lettersList li {
  background-color: #db7c84;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 12px;
  box-shadow: 0 2px 5px;
  line-height: 1.4;
}

#lettersList li:hover {
  background-color: #ede3ca;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
